{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <script src="/static/index.js"></script>
        {% if version %}
            <p class="version">최신 버전 : {{ version[0] }} - <script>document.write(moment("{{ version[1] }}").format("YYYY-MM-DD hh:mm A"))</script>, <a href="{{ version[2] }}">다운로드</a></p>
        {% endif %}
        <!--<button type="button" id="config" class="btn btn-outline-secondary"  data-toggle="modal" data-target="#configModal">설정</button>-->
        {% if err %}
            <div class="alert alert-danger" role="alert">{{err}}</div>
        {% endif %}
        {% if msg %}
            <div class="alert alert-success" role="alert">{{msg}}</div>
        {% endif %}
        <div class="container">
            <a href="/">
                <img src="/static/logo.svg" style="height: 30%; width: 30%">
            </a>
            <form id="queryForm" action="/" method="post">
                <div class="form-group">
                    <label for="query">Query</label>
                    <input type="text" class="form-control" name="query" id="query">
                </div>
            </form>
            <form id="fields">
                <div class="form-group" data="first">
                     <div class="input-group">
                         <div class="input-group-prepend">
                             <select class="custom-select" id="defaultOption" name="type" index="1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                             </select>
                         </div>
                            <input type="text" name="value" class="form-control" index="1" placeholder="여기에 영문으로 검색하세요.">
                         </div>
                </div>
                <input type="button" id="add" class="btn btn-danger" value="Add" />
                <input type="button" id="search" class="btn btn-primary" value="Search" />
                <input type="button" id="settings" class="btn btn-secondary" value="Settings" />
                <a href="/terminate" type="button" id="terminate" class="btn btn-warning" value="">Terminate Program</a>
            </form>
        </div>
        &nbsp;
        <div class="modal fade" id="configModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">설정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form id="configForm">
                      <div class="form-group">
                          <label for="resultLimit">검색 결과 수를 다음 수까지 제한합니다.</label>
                          <input class="form-control" type="number" id="resultLimit" name="resultLimit" value="100" />
                      </div>
                      <div class="form-group">
                          <label for="titleColor">검색한 키워드를 다음 색으로 강조합니다.</label>
                          <input class="form-control" type="color" id="titleColor" name="titleColor" value="">
                      </div>
                      <div class="form-group">
                          <label for="sentColor">검색한 키워드가 포함된 문장을 다음 색으로 강조합니다.</label>
                          <input class="form-control" type="color" id="sentColor" name="sentColor" value="">
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}