{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="/static/index.js"></script>
        {% if err %}
            <h3>{{err}}</h3>
        {% endif %}

        <div class="container">
            <img src="/static/logo.svg" style="height: 30%; width: 30%">
            <form id="queryForm" action="/" method="post">
                <div class="form-group">
                    <label for="query">Query</label>
                    <input type="text" class="form-control" name="query" id="query">
                </div>
            </form>
            <form id="fields">
                <div class="form-group" data="first">
                     <div class="input-group">
                         <div class="input-group-prepend">
                             <select class="custom-select" id="defaultOption" name="type" index="1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                             </select>
                         </div>
                            <input type="text" name="value" class="form-control" index="1" placeholder="여기에 영문으로 검색하세요.">
                         </div>
                </div>
                <input type="button" id="add" class="btn btn-danger" value="Add" />
                <input type="button" id="search" class="btn btn-primary" value="Search" />
            </form>
        </div>
        {% if data %}
            <form action="/open", method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Journal</th>
                      <th scope="col">Title</th>
                      <th scope="col">Abstract</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for article in data %}
                        <tr>
                          <th scope="row"><input type="checkbox" name="selected" value={{loop.index-1}} checked /></th>
                          <td>{{article.journalissue["ISOName"] + " " + article.journalissue["PubDate_Year"]}}</td>
                          <td>{{article.title}}</td>
                          <td>{{article.abstract}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <button class="btn btn-success">Submit</button>
            </form>
        {% endif %}

    </div>
{% endblock %}