{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <script src="/static/index.js"></script>
        <!--<button type="button" id="config" class="btn btn-outline-secondary"  data-toggle="modal" data-target="#configModal">설정</button>-->
        {% if err %}
            <div class="alert alert-danger" role="alert">{{err}}</div>
        {% endif %}
        {% if msg %}
            <div class="alert alert-success" role="alert">{{msg}}</div>
        {% endif %}
        <div class="container">
            <a href="/">
                <img src="/static/logo.svg" style="height: 30%; width: 30%">
            </a>
            <form id="queryForm" action="/" method="post">
                <div class="form-group">
                    <label for="query">Query</label>
                    <input type="text" class="form-control" name="query" id="query">
                </div>
            </form>
            <form id="fields">
                <div class="form-group" data="first">
                     <div class="input-group">
                         <div class="input-group-prepend">
                             <select class="custom-select" id="defaultOption" name="type" index="1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                             </select>
                         </div>
                            <input type="text" name="value" class="form-control" index="1" placeholder="여기에 영문으로 검색하세요.">
                         </div>
                </div>
                <input type="button" id="add" class="btn btn-danger" value="Add" />
                <input type="button" id="search" class="btn btn-primary" value="Search" />
                <a href="/terminate" type="button" id="terminate" class="btn btn-warning" value="">Terminate Program</a>
            </form>
        </div>
        &nbsp;
        <div class="modal fade" id="configModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">설정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>설정 항목</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">설정 저장</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        {% if data %}
            <form action="/open", method="post">
                {% if resultMsg %}
                    <div class="alert alert-success" role="alert">{{resultMsg}}</div>
                {% endif %}
                <table class="table">
                  <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Include</th>
                        <th scope="col">Journal</th>
                        <th scope="col">Title</th>
                        <th scope="col">Abstract</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for article in data %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <th scope="row"><input type="checkbox" name="selected" value={{loop.index-1}} checked /></th>
                            <td>{{article.journalissue["ISOName"] + " " + article.journalissue["PubDate_Year"] ~ ""}}</td>
                            <td width="12%">{{article.title}}</td>
                            <td>{{article.abstract}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <button class="btn btn-success">Submit</button>
            </form>
        {% endif %}

    </div>
{% endblock %}